<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @travel_schedule.name %>
</p>

<%= link_to 'Edit', edit_travel_schedule_path(@travel_schedule) %> |
<%= link_to 'Back', travel_schedules_path %>
